canvas {
	margin-left: 666px;
	position: absolute;
	margin-top: 157px;
	}
	.menu{

	}
	.result {
	
margin-top: 164px;
	
position: absolute;
	
color: red;
	
font-family: sans-serif;
	
margin-left: 978px;
	}
	.score {
	
margin-top: 190px;
	
position: absolute;
	
color: red;
	
margin-left: 998px;
}
img.img {
    width: 100%;
    height: 100%;
}
p#lev {
    position: absolute;
    color: wheat;
    margin-left: 985px;
    margin-top: 221px;
    font-size: 14px;
    font-family: sans-serif;
}

.levDiem {
    position: absolute;
    color: wheat;
    margin-left: 999px;
    margin-top: 230px;
}